<div class='span3 cht-col cht-box'>
<div class='cht-module-heading'>熱門資料</div>
<table class='table table-hover cht-table'>
    <tr>
        <td>
            <div style='float:left'>
                <img src='images/camera.png' width='30px' height='30px'/>　台南景點
            </div>
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src='images/food.png' width='30px' height='30px'/>　台南餐飲
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>    
     <tr>
        <td>
            <div style='float:left'>
                <img src='images/camera.png' width='30px' height='30px'/>　台南景點
            </div>
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src='images/food.png' width='30px' height='30px'/>　台南餐飲
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>    
    <tr>
        <td>
            <div style='float:left'>
                <img src='images/camera.png' width='30px' height='30px'/>　台南景點
            </div>
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src='images/food.png' width='30px' height='30px'/>　台南餐飲
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr> 
</table>
</div>
