<div class='module-content span3 box'>
<span>熱門資料</span>
<table class='table table-hover'>
    <tr>
        <td>
            <div style='float:left'>
                <i class="icon-camera"></i>　台南景點
            </div>
            <div style='float:right'>
                <input type='button' class='btn btn-success btn-mini' value='GO'>
            </div>
        </td>
    </tr>
    <tr>
        <td><i class="icon-glass"></i>　台南餐飲</td>
    </tr>    
    <tr>
        <td><i class="icon-camera"></i>　台南景點</td>
    </tr>
    <tr>
        <td><i class="icon-glass"></i>　台南餐飲</td>
    </tr>    
    <tr>
        <td><i class="icon-camera"></i>　台南景點</td>
    </tr>
    <tr>
        <td><i class="icon-glass"></i>　台南餐飲</td>
    </tr>    
</table>
</div>
