{% extends "page.html" %}

{% block styles %}
    {{ super() }}
    <link rel='stylesheet' href='css/tn.css'>
{% endblock %}

{% block content %}
     <div role="main">
        <div id="content" class="container">
            {{ self.flash() }}
            {{ self.primary_content() }}
        </div>
    </div>
    <div class="main homepage">
        <div class="container">
            {{ self.secondary_content() }}
        </div>
    </div>
{% endblock %}

{% block primary_content %}
    <div class='row'>
        {{h.hot_datasource()}}
        {{h.lastest_datasource()}}

       
        <div class='span3 cht-col cht-box'>
            <div class='cht-module-heading'>資料目錄</div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">交通</a>
                </li>
                <li><a href="#">景點</a></li>
                <li><a href="#">戶籍</a></li>
            </ul>
            <table class='table table-hover cht-table'>
                <tr>
                    <td>
                        <span class='span-icon'><img src='images/camera.png'/></span>　台南景點
                    </td>
                </tr>
                <tr>
                    <td><span class='span-icon'><img src='images/food.png'/></span>　台南餐飲</td>
                </tr>    
                <tr>
                    <td><span class='span-icon'><img src='images/camera.png'/></span>　台南景點</td>
                </tr>
                <tr>
                    <td><span class='span-icon'><img src='images/food.png'/></span>　台南餐飲</td>
                </tr>
                <tr>
                    <td><span class='span-icon'><img src='images/food.png'/></span>　台南餐飲</td>
                </tr>
            </table>

        </div>
    </div>
   
{% endblock %}


{% block secondary_content %}

{% endblock %}

{% block footer %}{% endblock %}
